numpy
Pillow
pyaudio
pocketsphinx
streamlit-webrtc
streamlit_option_menu
easyocr
streamlit
opencv-python-headless==4.10.0
mmdet
mmocr
paddleocr
paddlepaddle
mycolorpy
plotly
plotly-express
mmcv-full --no-binary mmcv-full
opencv-python==4.10.0.84
opencv-python-headless
