numpy
Pillow
pyaudio
pocketsphinx
streamlit-webrtc
streamlit_option_menu
easyocr
streamlit
mmdet
mmocr
paddleocr
paddlepaddle
mycolorpy
plotly
plotly-express
mmcv-full --no-binary mmcv-full
opencv-python-headless
opencv-contrib-python
